# Ignorar todas las dependencias (en cualquier subcarpeta)
node_modules/
**/node_modules/

# Ignorar carpetas de compilación
/ritmofit-frontend/dist
/ritmofit-backend/build
/ritmofit-mobile/.expo
/ritmofit-mobile/.expo-shared
/ritmofit-mobile/dist
/ritmofit-mobile/build

# Archivos de configuración y secretos
.env
**/.env
/.env.local
**/.env.local

# Logs y caché de Expo
/ritmofit-mobile/npm-debug.*
/ritmofit-mobile/*.log
/ritmofit-mobile/*.jks
/ritmofit-mobile/*.p8
/ritmofit-mobile/*.p12
/ritmofit-mobile/*.key
/ritmofit-mobile/*.mobileprovision
/ritmofit-mobile/*.orig.*
/ritmofit-mobile/web-build/

# Archivos temporales de macOS/Linux
.DS_Store
*/.DS_Store

# Archivos temporales de Windows
Thumbs.db
*/Thumbs.db

# Configuraciones locales de IDE
.idea/
**/.idea/
.vscode/
**/.vscode/